html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.background{
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(180deg, #F5E517, #AD6D02);
}

.destinations-container{
    /* display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 880px;
    background: #f2f2f2;
    border-radius: 75px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 600px;
    width: 880px;
    background: #f2f2f2;
    border-radius: 75px;
    padding-left: 5px;
    padding-top: 5px;
    overflow-y: auto;
    /* scroll-margin: 100px ; */
}

::-webkit-scrollbar {
    width: 20px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 50px;
    width: 50px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

.css-view-1dbjc4n{
    height: 100%;
}

.destinations-list-options{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 40px;
}

p {
    margin: 0;
}

.destinations-option-container{
    padding-left: 15px;
    /* min-height: 70px; */
    border-radius: 5px;
    border-style: groove;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    margin-top: 5px;
    cursor: pointer;
    /* justify-content: center; */
}

.destinations-option-container:hover{
    background-color: #F5E517;
}

#button {
    border-radius: 1em;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #333333;
}

#button:hover{
    background-color: #a7a4a1;
}

.finding-address-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    font-weight: bold;
}

.destinations-list-options p {
    margin: 0;
}